<nav>
  <div class="site-title">
    <a href="/">
      <h1>FAZ</h1>
      <p>blogatonny</p>
    </a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/message">Send Message</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
